html{
    background-color: #ffffff;
    width: 1440px;
}
.header{
    height: 64px;
}
.hero__section {
    background-color: #ff4646;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
.hero__section {
    position: absolute;
    top: 0;
    left: 0;
}

.img__bg-ball{
    position: absolute;
    top: 0;
    left: 0;
}

.img__bg-snow {
    position: relative;
    top: 0;
    left: 0;
}